# c and cpp compiled files
*.out
*.o

# java
*.class

# python
__pycache__/

# problem specific
problem013/numbers.txt
problem022/names.txt
problem042/words.txt
problem054/poker.txt
problem059/cipher1.txt
problem067/triangle.txt
problem079/keylog.txt
problem081/matrix.txt
problem082/matrix.txt
problem083/matrix.txt
problem089/roman.txt
problem096/sudoku.txt
problem098/words.txt
problem099/base_exp.txt
