# c and cpp compiled files
*.out
*.o

# java
*.class

# python
__pycache__/

# problem specific
problem22/names.txt
problem42/words.txt
problem54/poker.txt
problem59/cipher1.txt
problem67/triangle.txt
problem79/keylog.txt
problem81/matrix.txt
